<p class="text-center">
    <% if user_signed_in? %>
        Hello there <strong><%= current_user.email %></strong>.
        Want to add <%= link_to "new link", "#", 
        :data => { :component => "modal", :target => "#my-modal", :user_action => new_mylink_path } %>,

        or <%= link_to "logout", destroy_user_session_path, method: :delete %> ?
    <% else %>
        Hello there guest,
        want to <%= link_to "login", new_user_session_path %>?
    <% end %>
</p>
<div class="row align-center">
    <div class="col col-6">
        <p class="text-center">這裡會條列一些有趣的網站。</p>
    </div>
</div>
<div class="row align-center">
    <div class="col col-6">
        <ul>
            <% @links.each do |l| %>
                <li class="crud_mylink"> 
                    <% if user_signed_in? %>
                        <%= link_to "#", :data => { :component => "modal", :target => "#my-modal", :user_action => edit_mylink_path(l.id) } do %>
                            <%= fa_icon "pencil" %>
                        <% end %>
                        <%= link_to mylink_path(l.id), method: :delete , data: { confirm: 'Are you sure? THIS LINK WILL DISAPPEAR FOREVER!'} do %>
                            <%= fa_icon "times" %>
                        <% end %>
                    <% end %>
                    <%= link_to l.name , l.site , target: "_blank" %> : <%= l.intro %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
<div id="my-modal" class="modal-box hide">
    <div class="modal">
        <span class="close"></span>
        <div class="modal-header">Modal Header</div>
        <div class="modal-body">Modal</div>
    </div>
</div>
<%= content_for :js_custom do %>
<script>
$('[data-target="#my-modal"]').click(function()
{
    var target_url = $(this)[0].dataset.userAction;
    $.ajax
    ({
        url: target_url,
        success: function( data , stat, jqxr )
        {
            $("#my-modal .modal-body").html(data);
        },
        error: function( data , stat, jqxr )
        {
            alert("ERROR");
            console.log(data);
            console.log(stat);
            console.log(jqxr);
        },
    });
});
</script>
<% end %>
