<p class="text-center">
    <% if user_signed_in? %>
        Hello there <strong><%= current_user.email %></strong>.
        Want to add <%= link_to "new link", "#", 
        :data => { :component => "modal", :target => "#my-modal", :user_action => new_mylink_path } %>,

        or <%= link_to "logout", destroy_user_session_path, method: :delete %> ?
    <% else %>
        Hello there guest,
        want to <%= link_to "login", new_user_session_path %>?
    <% end %>
</p>
<div class="row align-center">
    <div class="col col-6">
        <p class="text-center">這裡會條列一些有趣的網站。</p>
    </div>
</div>
<div class="row align-center">
    <div class="col col-6">
        <ul>
            <% @links.each do |l| %>
                <li class="crud_mylink"> 
                    <% if user_signed_in? %>
                        <%= link_to "#", :data => { :component => "modal", :target => "#my-modal", :user_action => edit_mylink_path(l.id) } do %>
                            <%= fa_icon "pencil" %>
                        <% end %>
                        <%= link_to mylink_path(l.id), method: :delete , data: { confirm: 'Are you sure? THIS LINK WILL DISAPPEAR FOREVER!'} do %>
                            <%= fa_icon "times" %>
                        <% end %>
                    <% end %>
                    <%= link_to l.name , l.site , target: "_blank" %> : <%= l.intro %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
<div id="my-modal" class="modal-box hide">
    <div class="modal">
        <span class="close"></span>
        <div class="modal-header">編輯連結</div>
        <div class="modal-body">等待中...</div>
    </div>
</div>
<%= content_for :js_custom do %>
<script>
document.querySelectorAll('a[data-target="#my-modal"]').forEach(element =>
{
    element.addEventListener( "click" , (e) =>
    {
        let modal_body = document.querySelector("#my-modal .modal-body");
        let ajax_api = e.currentTarget.dataset.userAction;
        let request = new XMLHttpRequest();
        request.open( "GET" , ajax_api , true);
        request.onload = () =>
        {
            if (request.status >= 200 && request.status < 400)
            {
                modal_body.innerHTML = request.responseText;
            }
            else
            {   // We reached our target server, but it returned an error
                modal_body.innerHTML = `<p> Error encounter :( </p> <p>${request.responseText}</p>`;
                console.error( request );
            }
        };
        request.onerror = () =>
        {
            // There was a connection error of some sort
            modal_body.innerHTML = `<p> Error encounter :( </p> <p>${request.responseText}</p>`;
            console.error( request );
        };
        request.send();
    }, false );
});
</script>
<% end %>
