<%= render "articles/title" %>
<p class="text-center">
    <% if user_signed_in? %>
        Hello there <strong><%= current_user.email %></strong>.
        Want to add <%= link_to "new link", new_mylink_path %>,
        or <%= link_to "logout", destroy_user_session_path, method: :delete %> ?
    <% else %>
        Hello there guest,
        want to <%= link_to "login", new_user_session_path %>?
    <% end %>
</p>

<div class="row align-center">
    <div class="col col-6">
    <ul>
        <li>pisjv</li>
        <li>kbodkspo</li>
    </ul>
    </div>
</div>
