<h1 class="text-center">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <table>
    <thead class="text-center">
      <tr>
        <th> Sorry, don't accept sign up is currently. </th>
        <th> <%= devise_error_messages! %> </th>
      </tr>
    </thead>
    <tr>
      <td> <%= f.label :email %> </td>
      <td> <%= f.email_field :email, autofocus: true, disabled:true %> </td>
    </tr>
    <tr>
      <td> <%= f.label :password %> </td>
      <td>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", disabled:true %>
      </td>
    </tr>
    <tr>
      <td> <%= f.label :password_confirmation %> </td>
      <td> <%= f.password_field :password_confirmation, autocomplete: "off", disabled:true %> </td>
    </tr>
    <tr>
      <td> <%#= f.submit "Sign up", disabled:true %> </td>
      <td> <%= render "devise/shared/links" %> </td>
    </tr>
  </table>
<% end %>


