<style> .checkarea td *{display:inline-block;} </style>

<% if user_signed_in? %>
    <%= form_for @article do |m| %>
    <main>
      <table>
        <tr>
          <td> <%= m.label :title %> </td>
          <td> <%= m.text_field :title, :required => true %> </td>
        </tr>
        <tr>
          <td> <%= m.label :context %> </td>
          <td> <%= m.text_area :context, size: '60x20', :required => true %> </td>
        </tr>
        <tr class="checkarea">
          <td colspan="2">
            <%= check_box( "checked", "twice" ) %>
            <label for="checked_twice">I assume that I truly want to do following action.</label>
          </td>
        </tr>
        <tr id="highrisk">
          <td> <%= m.submit "Submit article" %> </td>
          <td>
          <% if m == nil %>
            <%= link_to 'Cancel this new article', articles_path %>
          <% else %>
            <%= link_to 'Cancel', articles_path %>
          <% end %>
          </td>
        </tr>
      </table>
    </main>
    <% end %>
<% else %>
  <p class="text-center">
  Hello there guest, to do actions in this page,
   you need to <%#= link_to "sign up,", new_user_registration_path %> <%= link_to "login", new_user_session_path  %>,
   or you want to <%= link_to 'go home',articles_url,method: :get %>?
  </p>
<% end %>
