<%= form_for @article , html:({class:"form"}) do |m| %>
    <main>
        <div class="form-item">
            <%= m.label :title , "標題" %>
            <%= m.text_field :title, :required => true %>
        </div>
        <div id="select_category" class="form-item">
            <%= m.label :category_ids , "目錄" %>
            <%#= m.text_field :category_ids %>
            <%= m.hidden_field "category_ids" %>
            <div class="append view">
                <select></select>
                <button type="button" class="button">新增</button>
            </div>
            <div class="label_viiew"></div>
            <%= render "layouts/ajaxfail", costom_classes: "" %>
        </div>
        <div class="form-item">
            <%= m.label :context , "內文" %>
            <%= m.text_area :context, :required => true %>
        </div>
        <div class="form-item">
            <%= m.submit "送出文章" , class: "button"  %>
            <%= link_to '取消', @article , class: "secondary outline button" %>
        </div>
    </main>
<% end %>

<%= content_for :js_custom do %>
<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("article_context"),
        toolbar: ["preview","guide","|",
        "bold", "italic", "heading", "|",
        "link", "code", "quote", "strikethrough", "|",
        "unordered-list","ordered-list","table", "|",
        "horizontal-rule","clean-block"],
        spellChecker: false,
        status: false
    });

    $.ajax({
        url:"/categories.json",
        dataType: "json",
        error: function(jqXHR, textStatus, errorThrown)
        {
            $("#select_category div.append.view").addClass("hide");
            $("#select_category div.ajaxfail").removeClass("hide");
            console.log([jqXHR, textStatus, errorThrown]);
            return;
        },
        success: function(data){add_option_actions(data);}
    });

    function add_option_actions(aoa)
    {
        // Render select options part
        var options = "";
        if(aoa.length>0)
        {
            aoa.forEach(function( odval )
            {
                options += "<option value='" + odval.id + "'>" + odval.tag_name + "</option>";
            });
        }
        else
        {
            $("#select_category div.ajaxfail").html("看起來目錄還沒設定喔 :-)");
            $("#select_category div.append.view").addClass("hide");
            $("#select_category div.ajaxfail").removeClass("hide");
        }
        $("#select_category .view select").html(options);

        // Render categories part
        var category_array = $("input#article_category_ids").val().split(" ");
        category_label_render( category_array , aoa );
        return;
    }

    function category_label_render( clr_main , clr_refer )
    {
        if ( clr_main.length > 0 )
        {
            var clrref = clr_refer.filter(function(val, index, array) {
                return val.id === 4;
            });
            var tempelte = "";
            clr_main.forEach(function( clrval )
            {
                var clrref = clr_refer.filter(function(val, index, array) {
                    return val.id === 4;
                });
                //debugger;
                tempelte += "<span class='label' data-num='" + clrref[0].id + "'>" + clrref[0].id + "</span>";
            });
            $("#select_category .label_viiew").html(tempelte);
        }
        return;
    }
</script>
<% end %>