<%= form_for @article , html:({class:"form"}) do |m| %>
    <main>
        <div class="form-item">
            <%= m.label :title , "標題" %>
            <%= m.text_field :title %>
        </div>
        <div class="form-item">
            <%= m.label :context , "內文" %>
            <%= m.text_area :context %>
        </div>
        <div class="form-item">
            <%= m.submit "送出文章" , class: "button" %>
            <%= link_to '取消', @article , class: "secondary outline button" %>
        </div>
    </main>
<% end %>

<%= content_for :js_plugins do %>
<script>
var simplemde = new SimpleMDE({
    element: document.getElementById("article_context"),
    toolbar: ["preview","guide","|",
    "bold", "italic", "heading", "|",
    "link", "code", "quote", "strikethrough", "|",
    "unordered-list","ordered-list","table", "|",
    "horizontal-rule","clean-block"],
    spellChecker: false,
    status: false
});
</script>
<% end %>