<%= form_for @article , html:({class:"form"}) do |m| %>
    <main>
        <div class="form-item">
            <%= m.label :title , "標題" %>
            <%= m.text_field :title, :required => true %>
        </div>
        <div class="form-item">
            <%= m.label :context , "內文" %>
            <%= m.text_area :context %>
        </div>
        <div class="form-item">
            <%= m.submit "送出文章" , class: "button"  %>
            <%= link_to '取消', @article , class: "secondary outline button" %>
        </div>
        <table hidden>
            <tr id="highrisk">
                <td> <%= m.submit "Submit article" %> </td>
                <td>
                    <%= link_to 'Cancel', @article %>
                </td>
            </tr>
        </table>
    </main>
<% end %>

<%= content_for :js_custom do %>
<script>
    var simplemde = new SimpleMDE({ element: $("#article_context")[0] });
</script>
<% end %>