<style>
i{ margin:1rem; }
@media (max-width:400px)
{
  i
  {
    margin:0;
    width:100%;
  }
  #mygithub i
  {
    margin-top:1.5rem;
    margin-bottom:1rem;
  }
}
</style>
<h1 class="text-center"> <%= link_to( image_tag("rails.png",alt:"Logo of IISMMX's Rails Blog",title:"IISMMX's Rails Blog"), articles_url, method: :get ) %> </h1>
<div id="snslink" class="text-center">
  <%= link_to "https://developer.mozilla.org/zh-TW/profiles/iigmir", class: "" do %>
    <%= fa_icon "firefox  5x" %>
  <% end %>
  <%= link_to "https://www.github.com/iigmir", id:"mygithub" do %>
    <%= fa_icon "github   5x" %>
  <% end %>
  <%= link_to "https://www.linkedin.com/in/sam-tan-934801b2", class: "" do %>
    <%= fa_icon "linkedin 5x" %>
  <% end %>
</div>
