<%= content_for :css_custom do %>
  li
  {
    margin-bottom:1rem;
    padding-bottom:1rem;
    border-bottom:1px dashed #FFFFFF;
  }
  li span { padding:0.5rem; }
  li span:hover{ background-color:#FFFFFF;  }
  @media (min-width:700px){ li span br{ display:none; } }
<% end %>

<%= render "title" %>
<p class="text-center"> <%= render "indexauth" %> </p>

<main class="row align-center">
  <ul class="col col-12 unstyled">
  <% @articles.each do |a| %>
  <li class="text-center">
    <h2> <%= link_to a.title, article_path(a.id) ,method: :get  %> </h2>
    <span> Created: <%= a.created_at %>,<br/> Last updated: <%= a.updated_at %> </span>
  </li>
  <% end %>
  </ul>
  <div class="text-center"> <%= will_paginate @articles %> </div>
</main>
