<% a = @article %>
<main>
    <article>
        <div class="article_info breakline">
            <h2> <%= a.title %> </h2>
            <p style="padding-left:1rem;">
                <b> Created:<%= a.created_at %>, Last updated: <%= a.updated_at %> </b> <br />
                <% if user_signed_in? %>
                    Hello there. Want to <a class="text-center" href="/articles/new">add new article</a>, <%= link_to 'edit this article',  edit_article_url(a.id) %>, or <%= link_to 'delete Posting(DANGER!)', article_path(a.id), method: :delete, class:"error", data: {confirm: 'Are you sure? THIS ARTICLE WILL DISAPPEAR FOREVER!'} %>?
                <% end %>
            </p>
        </div>
        <div class="article_context breakline">
            <%= raw( @markdown.render( a.context ) ) %>
        </div>
        <div class="category">
            <div class="help">
                <h3>這篇文章屬於以下目錄：</h3>
            </div>
            <div class="label_area">
                <span class="hide label">Causes</span>
            </div>
        </div>
    </article>
</main>