<% a = @article %>
<main>
    <article>
        <div class="article_info breakline">
            <h2> <%= a.title %> </h2>
            <p style="padding-left:1rem;">
                <b> Created:<%= a.created_at %>, Last updated: <%= a.updated_at %> </b> <br />
                <% if user_signed_in? %>
                    請問想<a class="text-center" href="/articles/new">寫新文章</a>、<%= link_to '編輯這篇文章',  edit_article_url(a.id) %>、還是想<%= link_to '刪除這篇文章', article_path(a.id), method: :delete, class:"error", data: {confirm: '注意，這篇文章會永遠消失！你還是要刪除嗎？'} %>呢？
                <% end %>
            </p>
        </div>
        <div class="article_context breakline">
            <%= raw( @markdown.render( a.context ) ) %>
        </div>
        
        <div class="category" data-ajax-request-id="<%= params[:id] %>">
            <div class="help">
                <h3>這篇文章屬於以下目錄：</h3>
                <% if user_signed_in? %>
                <button data-component="modal" data-target="#select_category">編輯</button>
                <% end %>
            </div>
            <%= render "layouts/ajaxfail", costom_classes: "show" %>
        </div>
    </article>
</main>

<% if user_signed_in? %>
<div id="select_category" class="modal-box hide">
    <div class="modal">
        <div class="modal-header">分類後台</div>
        <div class="modal-body">
            <div class="hide warning message">
                <p>注意：分類尚未儲存，請點選下方的「儲存分類」按鈕，才能儲存當前分類。</p>
            </div>
            <div class="form-item">
                <div class="append">
                    <select></select>
                    <button class="add button">新增</button>
                </div>
            </div>
            <ul class="label_view"></ul>
            <button class="save" type="button">儲存分類</button>
        </div>
    </div>
</div>
<% end %>

<%= content_for :js_plugins do %>
    <%= javascript_include_tag "article_form" %>
<% end %>