<h1 class="text-center"> <%= link_to 'My blog',articles_url,method: :get %> </h1>
<% a = @article %>
<main>
  <article class="row">
    <section class="col col-12">
      <h2> <%= a.title   %> </h2>
      <p>  <%= a.context %> </p>
    </section>

    <section class="col col-12">
      <p> You can <%= link_to 'edit this article',  edit_article_url(a.id) %>
          or <%= link_to 'delete Posting',  article_path(a.id) , method: :delete %>. </p>
      <p> Created:<%= a.created_at %>, Last updated: <%= a.updated_at %> </p>
    </section>
  </article>
</main>
