<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<fieldset style="max-width:320px;margin:0 auto">
    <legend>登入</legend>
    <div class="form-item">
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>
    <div class="form-item">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>
    <div class="form-item">
        <label class="checkbox">
            <%= f.check_box :remember_me %>
            Remeber me
        </label>
    </div>
    <div class="form-item">
        <%= f.submit "Log in" , class: "button" , style: "width:100%" %>
    </div>
</fieldset>
<% end %>