<main>
    <% if user_signed_in? %>
        <div id="new_tag_form" class="w60">
            <%= form_for @new_cata do |t| %>
                <div class="append w50">
                    <%= t.text_field :tag_name , required: true  %>
                    <%= t.submit "新增分類" %>
                </div>
            <% end %>
        </div>
    <% end %>
    <div id="tags_breakline"></div>
    <div id="render_view"></div>
    <%= render "layouts/ajaxfail", locals: { costom_classes: "index" } %>
</main>

<div id="articles_modal" class="modal-box hide">
    <div class="modal">
        <span class="close"></span>
        <div class="modal-header clicked_value">
        </div>
        <div class="modal-body">
            <p class="help_text"></p>
            <ul class="render_texts"></ul>
            <div class="show ajaxfail hide">
                : - (<br />
                看起來頁面載入失敗了噢，我會去修。<br />
                如果有興趣也可以查瀏覽器工具，看發生了什麼事。
            </div>
            <% if user_signed_in? %>
            <a href="#" class="delete warning button" rel="nofollow" data-method="delete"
            data-confirm="你確定要刪除嗎？這個動作無法復原！">
                刪除此分類
            </a>
            <% end %>
        </div>
    </div>
</div>

<%= content_for :js_plugins do %>
    <%= javascript_include_tag "article_tags" %>
<% end %>
