<nav>
    <div class="l-side">
        <h1>
        <%=
            link_to root_url do
                image_tag("rails.png",alt:"露比的銳思",title:"露比的銳思")
            end
        %>
        </h1>
    </div>
    <div class="r-side">
        <div>
            <%= sns_link( "firefox" ) %>
            <%= sns_link( "github" ) %>
            <%= sns_link( "codepen" ) %>
            <%= link_to mylinks_path do %>
                <%= fa_icon "link" %>
            <% end %>
            <%= link_to categories_path do %>
                <%= fa_icon "tags" %>
            <% end %>
            <%= login_and_out() %>
        </div>
    </div>
</nav>