<!DOCTYPE html>
<html lang="zh-hant">
    <head>
        <meta charset="utf-8" />
        <title>IISMMX's Rails blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="I want to write articles even Kurosawa Ruby can understand." />
        <meta name="keywords" content="Ruby on Rails,Web development,Front-end development" />
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= stylesheet_link_tag params[:controller] %>
    </head>
    <body id="<%= controller.controller_name %>_<%= controller.action_name %>">
        <%= render "layouts/navbar" %>
        <%
        devise_msg_class = ""
        devise_msg_text = nil
        if notice
            devise_msg_class = "message"
            devise_msg_text = notice
        end
        if alert
            devise_msg_class = "message error"
            devise_msg_text = alert
        end
        %>
        <p class="<%= devise_msg_class %>"><%= devise_msg_text %></p>
        <%= yield %>
        <%= javascript_include_tag 'application', controller_name %>
        <%= yield(:js_plugins) %>
        <%= yield(:js_custom) %>
    </body>
</html>
