<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <title>IISMMX's Rails blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="My little notes about Web development." />
    <meta name="keywords" content="Rails,Ruby on Rails,Web development" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <% if notice %>
        <p class="message"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="message error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
