<!DOCTYPE html>
<html lang="zh-hant">
    <head>
        <meta charset="utf-8" />
        <title>露比的銳思</title>
        <%= favicon_link_tag %>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="立志寫出連露比也看得懂的東西" />
        <meta name="keywords" content="Ruby on Rails,Web development,Front-end development" />
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <link rel="stylesheet" href="assets/simplemde.min.css">
        <%= stylesheet_link_tag params[:controller] %>
    </head>
    <body id="<%= controller.controller_name %>_<%= controller.action_name %>">
        <%= render "layouts/navbar" %>
        <%
        devise_msg_class = ""
        devise_msg_text = nil
        if notice
            devise_msg_class = "message"
            devise_msg_text = notice
        end
        if alert
            devise_msg_class = "message error"
            devise_msg_text = alert
        end
        %>
        <p class="<%= devise_msg_class %>"><%= devise_msg_text %></p>
        <%= yield %>
        <div class="hide ajax-waiting">
            <div class="draws">
                <p>資料處理中…</p>
            </div>
        </div>
        <%= javascript_include_tag 'application', controller_name %>
        <%= javascript_include_tag "simplemde.min" %>
        <%= yield(:js_plugins) %>
        <%= yield(:js_custom) %>
    </body>
</html>
